.App {
  width:80%;
  margin: 0 auto;
  background-color: darkgray;
  text-align: center;
}

li {
  text-decoration: none;
  list-style: none;
  display: block;
  width:100%;
  height: 50px;
  box-sizing: border-box;
  background-color: darkolivegreen;
  border: 1px solid red;

  margin-left: none;
  padding-left: none;
}
ul {
  padding: 0;
}

.completed{
  text-decoration: line-through;
}

